html, body {
    display: block;
    margin: 0;
    background-color: white;
    padding: 0;
    color: #575e75;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    }
    
 #header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4d97ff;
    width: 100%;
    height: 50px;
}

.scratch {
  position: absolute;
  bottom: 10px;
  left: 400px;
  color: #4d97ff;
}

.scratch#hover {
  position:relative;
  width= 90;
  height= 35px;
}

#header .scratch img:hover {
  transform: scale(1.1);
}
