html, body {
    display: block;
    margin: 0;
    background-color: white;
    padding: 0;
    color: #575e75;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    }
    
#header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4d97ff;
    width: 100%;
    height: 55px;
    
}
a {
  color: inherit;
  text-decoration: inherit;
  display: inline-block;     
  position: relative;    
  z-index: 1;     
  padding: 2em;     
  margin: -2em; 
}
.scratch {
  position: absolute;
  bottom: 10px;
  left: 400px;
  color: #4d97ff;
}

.scratch#hover {
  position: relative;
}

#header .scratch img:hover {
  transform: scale(1.1);
}

#header li:not(.search){

  color: white;
  font-size: 13.6px;
  font-weight: bold;
  padding: 19px;
  position: relative;
}

form input[type=text]{
  border-radius: 6px;
  padding: 13px;
  border: none;
  font-size: 13.6px;
  background: #4588E5;
  color: white;
  
}

#header li {
  display: inline-block;
  position: relative;
  left: 500px;
}

#header li:hover:not(.search) {
  background-color: #4280d7;
}



